.inputPass{
    border: none;
    cursor: default;
}
.inputPass:focus-visible{
    outline: none;
}
span{
    cursor: pointer;
}
p{
    margin: 0;
    text-align: right;
}
#noteStatus{
    color: green;
    font-weight: 600;
    padding-right: 25px;
    padding-bottom: 20px;
}
input[type=file]{
    color: transparent;
}

.noteText{
    color: rgb(255, 0, 0);
}